{% extends "index.html" %}

{% block title %}
    Notes
{% endblock %}

{% block content %}
    <h2>Notes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>notes</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.data }}</td>
                    <td>{{ note.date }}</td>
                    <td>
                        <form action="/delete-note" method="POST">
                            <input type="hidden" name="note_id" value="{{ note.id }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}